* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  padding: 10px;
}

.trybewarts-header-logo {
  height: 80px;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
}
